NET "algarismo<0>" LOC = "N16";
NET "algarismo<1>" LOC = "F13";
NET "algarismo<2>" LOC = "R16";
NET "algarismo<3>" LOC = "P15";
NET "algarismo<4>" LOC = "N15";
NET "algarismo<5>" LOC = "G13";
NET "algarismo<6>" LOC = "E14";
NET "algarismo<7>" LOC = "P16";
NET "an0" LOC = "D14";
NET "an1" LOC = "G14";
NET "an2" LOC = "F14";
NET "an3" LOC = "E13";
NET "entrada_ok" LOC = "P11";
NET "saida_ok" LOC = "P12";
NET "perigo" LOC = "N12";
NET "parque_cheio" LOC = "P13";
NET "canc_out_2" LOC = "N14";
NET "canc_in_2" LOC = "L12";
NET "canc_out_1" LOC = "P14";
NET "canc_in_1" LOC = "K12";


NET "clk" LOC= "T9";
NET "reset" LOC = "L14";


NET "sw<0>" LOC = "F12";
NET "sw<1>" LOC = "G12";
NET "sw<2>" LOC = "H14";
NET "sw<3>" LOC = "H13";
NET "sw<4>" LOC = "J14";
NET "sw<5>" LOC = "J13";
NET "sw<6>" LOC = "K14";
NET "sw<7>" LOC = "K13";
NET "b_1" LOC = "L13";
NET "b_2" LOC = "M14";
NET "b_3" LOC = "M13";